@import './style/font-inter-ui.css';

* {
  box-sizing: border-box;
}

body {
  background: #EC6F66;
  background: -webkit-linear-gradient(to left, #F3A183, #EC6F66);
  background: linear-gradient(to left, #F3A183, #EC6F66);
  font-family: 'Inter UI', Avenir, 'Helvetica Neue', Hevetica, Arial, sans-serif;
  margin: 0;
  font-size: 20px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

input, textarea, select, button {
  font-size: 14px;
  font-family: 'Inter UI', Avenir, 'Helvetica Neue', Hevetica, Arial, sans-serif;
  border: 0;
  outline-width: 0;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255, 1);
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
