.Chat {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  background: transparent;
  box-shadow: 0 0 6px rgba(0,0,0,0.6);
  border-radius: 3px;
}

.Chat .top-bar {
  border-radius: 3px 3px 0 0;
  color: white;
  background: #70C1B3;
  width: 100%;
  padding: 10px 20px;
}
