.Chat {
  position: relative;
  height: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  background: #181818;
  color: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.6);
  overflow: hidden;
}

.Chat .top-bar {
  background: #70C1B3;
  width: 100%;
  padding: 10px 20px;
}

.Chat .message-input {
  position: absolute;
  bottom: 0;
}
