.Chat {
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background: transparent;
  box-shadow: 0 0 6px rgba(0,0,0,0.6);
  position: relative;
  height: 90%;
  overflow: hidden;
}

.Chat .top-bar {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: #70C1B3;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-top: 12px;
}

@media (max-width: 800px) {
  .Chat {
    margin: 0;
    max-width: none;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
