@import './style/font-inter-ui.css';

body {
  background: #EC6F66;
  background: -webkit-linear-gradient(to left, #F3A183, #EC6F66);
  background: linear-gradient(to left, #F3A183, #EC6F66);
  font-family: 'Inter UI', Avenir, 'Helvetica Neue', Hevetica, Arial, sans-serif;
  margin: 0;
  font-size: 20px;
  padding: 20px;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

input, textarea, select, button {
  font-size: 14px;
  font-family: 'Inter UI', Avenir, 'Helvetica Neue', Hevetica, Arial, sans-serif;
  border: 0;
  outline-color: #FFFFFF;
}
